@page
@model GameForum1.Pages.Admin.SubCategoryAdmin.CreateModel
@{
    List<MainCategory> mainCategories = await DAL.MainCategoryManager.GetMainCategories();
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Create new SubCategory</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Choose Maincategory</h4>
            @if (mainCategories is not null && mainCategories.Count > 0)
            {
                @foreach (var mainCategory in @mainCategories)
                {
                    <a asp-route-mainCategoryId="@mainCategory.Id" class="nav-link text-dark">@mainCategory.Name</a>
                }

                <br />
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="@Model.SubCategory.Id" type="hidden" />
                    <label asp-for="@Model.SubCategory.Name" class="control-label"></label>
                    <input asp-for="@Model.SubCategory.Name" class="form-control" />
                    <span asp-validation-for="@Model.SubCategory.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary mt-3 mb-2" />
                </div>
            }
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
