@page
@model GameForum1.Pages.CommentsModel
@inject SignInManager<GameForum1User> signInManager
@inject UserManager<GameForum1User> userManager
@inject DAL.ProfilePictureManager profilePictureManager
@{
    ViewData["Title"] = "Comments";
    var myUser = await userManager.GetUserAsync(User);
}

@*USERTHREAD*@
<div class="card cardbig my-2 mx-auto">
    @{
        Model.ImageSrc = await profilePictureManager.SetProfilePicture(Model.UserThread.UserId);
    }
    <img src="@Model.ImageSrc" class="card-img-top">

    <div class="card-body">
        <div class="text-section">
            <h5><span class="mygradient2">@Model.UserThread.Header</span></h5>
            <p class="card-text py-5">@Model.UserThread.Content</p>
            <p class="card-text position-absolute bottom-0 start-20 py-1">Author: <span class="mygradient fw-bold">@Model.AuthorUser.NickName</span></p>
        </div>
        <div class="cta-section">
            <p>@Model.UserThread.Date</p>
            <a href="javascript:history.back()" type="button" class="btn bg-light">Go back</a>
            <span>
                @if (signInManager.IsSignedIn(User))
                {
                    <button type="button" class="btn bg-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add comment
                    </button>
                }
            </span>

        </div>
    </div>
</div>

@if (signInManager.IsSignedIn(User))
{

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add comment</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Comment.Content" class="control-label">Enter text here...</label>
                            <textarea asp-for="Comment.Content" class="form-control form-control-lg form-control-sm" rows="3"></textarea>

                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Submit comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@foreach (var comment in Model.Comments.OrderByDescending(x => x.Date))
{
    @foreach (var thisUser in userManager.Users.ToList())
    {
        if (thisUser.Id == comment.UserId)
        {
            <div class="card my-2 mx-auto">
                @{
                    Model.ImageSrc = await profilePictureManager.SetProfilePicture(thisUser.Id);
                }
                <img src="@Model.ImageSrc" class="card-img-top">

                <div class="card-body">
                    <div class="text-section">
                        <h5 class="card-title"><span class="mygradient">@thisUser.NickName</span> says:</h5> @*TODO: Färgval i span (comments)*@
                        <p class="card-text py-5">@comment.Content</p>
                    </div>
                    <div class="cta-section">
                        <p>@comment.Date</p>
                        @if (myUser is not null && myUser.Id == comment.UserId)
                        {
                            <a class="btn btn-light bg-light" asp-page="./CommentEditor" asp-route-editId="@comment.Id" style="z-index:2">Edit</a>
                        }
                        <form method="post" style="z-index:2">
                            @if (myUser is not null && myUser.Id == comment.UserId)
                            {
                                <button type="submit" class="btn btn-light bg-light" asp-page-handler="Remove" asp-route-removeId="@comment.Id" asp-route-userThreadId="@comment.UserThreadId" style="z-index:2">Remove</button>
                            }
                            <button type="submit" class="btn btn-light bg-light" asp-page-handler="Report" asp-route-reportId="@comment.Id" asp-route-userThreadId="@comment.UserThreadId" style="z-index:2">Report</button>
                        </form>

                    </div>
                </div>
            </div>
        }
    }
}