@page
@model GameForum1.Pages.InboxModel
@{
    ViewData["Title"] = "My messages";
}

@*MODAL TOGGLE BUTTON*@
<div style="max-width: 80rem" class="card cardbiginbox my-2 mx-auto">
    <div class="card-body">
        <button type="button" class="btn bg-light" style="padding:0">
            <a href="javascript:history.back()" class="nav-link bg-light text-dark">Go back</a>
        </button>
        <div class="my-2 display-6 mx-3">
            Welcome to your inbox
        </div>
        <button type="button" class="btn bg-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
            New Message
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group">
                        <div>
                            <select name="userId" class="form-select form-select-lg mb-3">
                                Open this select menu
                                @foreach (var user in Model.AllUsers)
                                {
                                    var userId = user.Id;
                                    <option value="@userId">@user.UserName</option>
                                }
                            </select>
                        </div>


                        <label asp-for="Message.Header" class="control-label">Please enter Header</label>
                        <input asp-for="Message.Header" class="form-control" />
                        <span asp-validation-for="Message.Header" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Message.Content" class="control-label">Enter text here...</label>
                        <textarea asp-for="Message.Content" class="form-control form-control-lg form-control-sm" rows="3"></textarea>
                        <br />
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>



<section class="text-dark p-2 p-lg-0 pt-lg-1 text-md-start text-sm-start">
    <div class="container-fluid">
        <div class="row justify-content-between m-auto">


            @*Kolumn 1 - INBOX*@
            <div class="col-md-6 col-sm-12">

                <div class="card bg-dark text-light display-5">
                    <h5 class="mx-auto text-center">Inbox</h5>
                </div>

                <div class="my-2 p-md-2 px-sm-1 bg-dark rounded">
                    @foreach (var message in Model.Inbox.OrderByDescending(x => x.Date))
                    {
                        <div class="cardinbox py-1 my-2 mx-auto mw-100 rounded" style="transform: rotate(0)">
                            <div class="card-body">
                                <div class="text-section">
                                    <h5 class="card-title">@message.Header</h5>
                                </div>
                                <div class="cta-section">
                                    <div>@message.Date</div>
                                    <a class="stretched-link" asp-route-messageId="@message.Id" asp-page="./MessageDetails" class="nav-link text-dark"></a>
                                    <form method="post" style="z-index:2">
                                        <button class="btn bg-light" asp-route-deleteId="@message.Id" asp-page-handler="Delete">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>


            @*Kolumn 2 - OUTBOX*@
            <div class="col-md-6 col-sm-12">

                <div class="card bg-dark text-light display-5">
                    <h5 class="mx-auto text-center">Outbox</h5>
                </div>

                <div class="my-2 p-md-2 px-sm-1 bg-dark rounded">
                    @foreach (var message in Model.Outbox.OrderByDescending(x => x.Date))
                    {
                        <div class="cardinbox py-1 my-2 mx-auto mw-100 rounded" style="transform: rotate(0)">
                            <div class="card-body">
                                <div class="text-section">
                                    <h5 class="card-title">@message.Header</h5>
                                </div>
                                <div class="cta-section">
                                    <div>@message.Date</div>
                                    <a class="stretched-link" asp-route-messageId="@message.Id" asp-page="./MessageDetails" class="nav-link text-dark"></a>
                                    <form method="post" style="z-index:2">
                                        <button class="btn bg-light" asp-route-deleteId="@message.Id" asp-page-handler="Delete">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>




        </div>
    </div>
</section>






@*<section class="text-dark p-2 p-lg-0 pt-lg-1 text-md-start text-sm-start">
        <div class="container" style="width:70em;">


            <div class="d-sm-flex justify-content-between d-lg-flex d-md-flex row">
                <div class="card col-md-5 col-sm-12 bg-dark text-light display-5">
                    <h5 class="mx-auto text-center">Inbox</h5>
                </div>

                <div class="card col-md-5 col-sm-12 bg-dark text-light display-5">
                    <h5 class="mx-auto text-center">Outbox</h5>
                </div>
            </div>


            <div class="d-sm-flex justify-content-between d-lg-flex d-md-flex row">


                  @*INBOX HERE*@
@*                <div class="my-2 col-md-5 col-sm-12 bg-dark rounded">
                    @foreach (var message in Model.Inbox.OrderByDescending(x => x.Date))
                    {
                        <div class="cardinbox my-2 mx-auto rounded" style="transform: rotate(0)">
                            <div class="card-body">
                                <div class="text-section">
                                    <h5 class="card-title">@message.Header</h5>
                                </div>
                                <div class="cta-section">
                                    <div>@message.Date</div>
                                    <a class="stretched-link" asp-route-messageId="@message.Id" asp-page="./MessageDetails" class="nav-link text-dark"></a>
                                    <form method="post" style="z-index:2">
                                        <button class="btn bg-light" asp-route-deleteId="@message.Id" asp-page-handler="Delete">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                 </div>*@


                 @*OUTBOX HERE*@
                 @*@<div class="my-2 col-md-5 col-sm-12 bg-dark rounded">
                    @foreach (var message in Model.Outbox.OrderByDescending(x => x.Date))
                    {
                        <div class="cardinbox my-2 mx-auto rounded" style="transform: rotate(0)">
                            <div class="card-body">
                                <div class="text-section">
                                    <h5 class="card-title">@message.Header</h5>
                                </div>
                                <div class="cta-section">
                                    <div>@message.Date</div>
                                    <a class="stretched-link" asp-route-messageId="@message.Id" asp-page="./MessageDetails" class="nav-link text-dark"></a>
                                    <form method="post" style="z-index:2">
                                        <button class="btn bg-light" asp-route-deleteId="@message.Id" asp-page-handler="Delete">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>


            </div>
        </div>
</section>*@