@page
@model IndexModel
@inject SignInManager<GameForum1User> signInManager;
@{
    ViewData["Title"] = "Gamers Paradise";
}
<body class="g-0">
    <!-- Top section-->
    <section class="bg-light text-dark p-5 p-lg-0 pt-lg-3 text-center text-sm-start">
        <div class="container">

            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>Welcome to <span class="mygradient"> @ViewData["Title"]</span></h1>
                    <p class="lead my-3"> Here we discuss</p>
                    <ul class="list-group list-group-horizontal-lg">
                        <li class="list-group-item lead my-3">Playstation</li>
                        <li class="list-group-item lead my-3">Xbox</li>
                        <li class="list-group-item lead my-3">Retro</li>
                    </ul>
                </div>
                <img class="img-fluid w-25 d-none d-sm-block" src="img/gaming.svg" alt="Gamer">
                @*				@if (signInManager.IsSignedIn(User))
                {

                }*@
            </div>
        </div>
    </section>
    <!-- Forum -->
    <section class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-5 col-lg-5">
                    <img src="img/ninja.svg" class="img-fluid w-75 d-none d-sm-block" alt="Ninja">
                </div>
                <div class="col-md-7 col-lg-7">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <div class="row">
                            <div class="col-6">
                                <img class="img-fluid" src="@Model.ImageSrc" />
                            </div>
                            <div class="col-6 p-4">
                                <div class="display-6">Welcome</div>
                                <div class="lead mygradient">@Model.MyUser.NickName</div>
                                <div class="lead">@Model.MyUser.Email</div>
                                <div class="lead">Birthyear: @Model.MyUser.BirthYear</div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <h3>Log in and add join the <span><a href="/Identity/Account/Login" class="mygradient">@ViewData["Title"]</a></span></h3>

                        
                    }
                    @*@if (Model.Posts is not null)
                    {

                    foreach (var post in Model.Posts)
                    {
                    @if (user is not null && user.Id == post.UserId)
                    {
                    <div>
                    <a asp-route-doneid="@post.Id" asp-for="IsDone" class="btn btn-outline-success btn-sm">
                    <img src="@post.Image" style="width:20px;">
                    </a>
                    <span class="text-success lead">@post.Text</span> <span class="text-primary">@post.Date.ToShortDateString()</span>
                    </div>

                    }
                    }
                    }*@
                </div>
            </div>
        </div>
    </section>
</body>
