@page
@model IndexModel
@inject SignInManager<GameForum1User> signInManager;
@{
    ViewData["Title"] = "Gamers Paradise";
}
<body class="g-0">
    <!-- Top section-->
    <section class="bg-light text-dark p-5 p-lg-0 pt-lg-3 text-center text-sm-start">
        <div class="container">

            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>Welcome to <span class="mygradient"> @ViewData["Title"]</span></h1>
                    <p class="my-3">Been spending most our lives living in a gamers paradise</p>
                </div>
                <img class="img-fluid w-25 d-none d-sm-block" src="img/gaming.svg" alt="Gamer">
            </div>

            <iframe class="container-fluid" style="max-width: 500px; max-height: 450px;" src="https://www.youtube.com/embed/fPO76Jlnz6c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </section>
    <!-- Forum -->
    <section class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-5 col-lg-5">
                    <img src="img/ninja.svg" class="img-fluid w-75 d-none d-sm-block" alt="Ninja">
                </div>
                <div class="col-md-7 col-lg-7">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <div class="row">
                            <div class="col-6">
                                <img class="img-fluid" src="@Model.ImageSrc" />
                            </div>
                            <div class="col-6 p-4">
                                <h5 class="display-6">Welcome</h5>
                                <p class="mygradient">@Model.MyUser.NickName</p>
                                <p >@Model.MyUser.Email</p>
                                <p >Birthyear: @Model.MyUser.BirthYear</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h5>Log in and join the <span><a href="/Identity/Account/Login" class="mygradient">@ViewData["Title"]</a></span></h5>
                    }
                </div>
            </div>
        </div>
    </section>
</body>
